CasoVIALIS/src/conf/xml-resources/web-service-references/ProveedoresWS/wsdl/localhost_8080/ProveedorWS/ProveedoresWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://Service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service/">

<xs:element name="MostrarTodosProveedores" type="tns:MostrarTodosProveedores"/>

<xs:element name="MostrarTodosProveedoresResponse" type="tns:MostrarTodosProveedoresResponse"/>

<xs:complexType name="MostrarTodosProveedores">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="MostrarTodosProveedoresResponse">
<xs:sequence>
<xs:element name="Proveedor" type="tns:proveedor" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="proveedor">
<xs:sequence>
<xs:element name="direccionProveedor" type="xs:string" minOccurs="0"/>
<xs:element name="especialidadProveedor" type="xs:string" minOccurs="0"/>
<xs:element name="idProveedor" type="xs:int"/>
<xs:element name="nombreProveedor" type="xs:string" minOccurs="0"/>
<xs:element name="rutProveedor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>