CasoVIALIS/src/conf/xml-resources/web-service-references/InspeccionWS/wsdl/localhost_8080/INSPECCION_TECNICA/InspeccionWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://Service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service/">

<xs:element name="MostrarTodasInspecciones" type="tns:MostrarTodasInspecciones"/>

<xs:element name="MostrarTodasInspeccionesResponse" type="tns:MostrarTodasInspeccionesResponse"/>

<xs:complexType name="MostrarTodasInspecciones">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="MostrarTodasInspeccionesResponse">
<xs:sequence>
<xs:element name="Inspeccion" type="tns:inspeccion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inspeccion">
<xs:sequence>
<xs:element name="idInspeccion" type="xs:int"/>
<xs:element name="nombreDocumento" type="xs:string" minOccurs="0"/>
<xs:element name="rutaDocumento" type="xs:string" minOccurs="0"/>
<xs:element name="tipoDocumento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>